api/soap-gateway/gateway-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://example.com/finance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/finance"
        name="SoapGateway">

    <types>
        <xsd:schema targetNamespace="http://example.com/finance">
            <xsd:element name="DepositRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Amount" type="xsd:decimal"/>
                        <xsd:element name="Currency" type="xsd:string"/>
                        <xsd:element name="ReferenceId" type="xsd:string"/>
                        <xsd:element name="AccountId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="DepositResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TransactionId" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="Message" type="xsd:string"/>
                        <xsd:element name="GatewayId" type="xsd:string"/>
                        <xsd:element name="GatewayAddress" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="WithdrawRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Amount" type="xsd:decimal"/>
                        <xsd:element name="Currency" type="xsd:string"/>
                        <xsd:element name="ReferenceId" type="xsd:string"/>
                        <xsd:element name="AccountId" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="WithdrawResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TransactionId" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="Message" type="xsd:string"/>
                        <xsd:element name="GatewayId" type="xsd:string"/>
                        <xsd:element name="GatewayAddress" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="DepositRequestMessage">
        <part name="parameters" element="tns:DepositRequest"/>
    </message>
    <message name="DepositResponseMessage">
        <part name="parameters" element="tns:DepositResponse"/>
    </message>
    <message name="WithdrawRequestMessage">
        <part name="parameters" element="tns:WithdrawRequest"/>
    </message>
    <message name="WithdrawResponseMessage">
        <part name="parameters" element="tns:WithdrawResponse"/>
    </message>

    <portType name="FinancePortType">
        <operation name="Deposit">
            <documentation>Выполняет депозит на указанный счёт.</documentation>
            <input message="tns:DepositRequestMessage"/>
            <output message="tns:DepositResponseMessage"/>
        </operation>

        <operation name="Withdraw">
            <documentation>Выполняет вывод средств с указанного счёта.</documentation>
            <input message="tns:WithdrawRequestMessage"/>
            <output message="tns:WithdrawResponseMessage"/>
        </operation>
    </portType>

    <binding name="FinanceBinding" type="tns:FinancePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="Deposit">
            <soap:operation soapAction="http://api.example.com/v1/deposit"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="Withdraw">
            <soap:operation soapAction="http://api.example.com/v1/withdraw"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SoapGateway">
        <documentation>Сервис для обработки депозитов и выводов средств.</documentation>
        <port name="GatewayPort" binding="tns:FinanceBinding">
            <soap:address location="http://9091/soap"/>
        </port>
    </service>

</definitions>
